[user]
	name = kamasaki
	email = kamasaki765@gmail.com
[push]
	default = simple
[alias]
    cm = commit -m
    gl = log --graph --oneline --decorate
	st = status --short
    co = checkout
    b = branch
    nffm = merge --no-ff
[core]
	editor = vim
